<div class="container">
    <div class="row justify-content-center p-4">
      
        
        <div class="col-md-6">
            <form (ngSubmit)="register()">
            <h3>Firebase Register</h3>
            <div class="form-group p-2">
                <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter email Id" required>
            </div>
            <div class="form-group p-2">
                <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password"
                    required>
            </div>
            <div class="form-group p-2">
                <button type="submit" class="btn btn-primary">Register</button>
                <div class="register"><a href="#" routerLink="/login">Back To Login</a></div>
            </div>
            </form>
            <div class="form-group">
                <p *ngIf="errorMessage.length > 0" class="text-danger">
                    {{errorMessage}}</p>
                
                <p *ngIf="error.message.length > 0" class="text-danger">
                    {{error.message}} </p>

                    <p *ngIf="message.length > 0" class="text-info">
                        {{message}} </p>
            </div>
        </div>

    </div>
</div>